@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300;400;500;700&display=swap');

html {
  height: 2000px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(238, 238, 238);
  box-sizing: border-box;
  margin: 0px;
}

:root {
  --size-scaler: 1;
}

header {
  position: fixed;
  background-color: rgba(10, 8, 11, 0);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

#show-more__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(4em * var(--size-scaler));
  height: calc(4em * var(--size-scaler));
  border-radius: 50% 50%;
  border: 3px solid white;
  margin-bottom: calc(4em * var(--size-scaler));
  position: relative;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 5px;
  }
  50% {
    bottom: 10px;
  }
  75% {
    bottom: 5px;
  }
  100% {
    bottom: 0px;
  }
}

.nav-links {
  display: none;
  justify-content: flex-end;
  padding: 0 3em;
}

ul {
  list-style: none;
}

.nav-links__item {
  padding: 0 1em;
}

.nav-links__item a {
}

.featured {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to bottom,
      rgba(102, 81, 76, 0.9),
      rgba(10, 8, 11, 0.8) 70%
    ),
    url('media/images/code-1.jpg');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  background-color: rgba(10, 8, 11, 0);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.img-container img {
  max-width: calc(18em * var(--size-scaler));
  border-radius: 50% 50%;
  border: 5px solid rgb(238, 238, 238);
}

.statement {
  text-align: center;
  padding: 0 calc(2em * var(--size-scaler));
}

.statement h1 {
  font-size: calc(2em * var(--size-scaler));
  font-weight: 500;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  border-bottom: 3px solid white;
  text-transform: uppercase;
}

.statement p {
  font-size: calc(1.5em * var(--size-scaler));
  margin-top: 0;
}

.code {
  font-family: 'Ubuntu Mono', monospace;
}

.statement > p > span {
  font-size: calc(2em * var(--size-scaler));
}

/* Media Queries */

@media (max-width: 320px) {
  :root {
    --size-scaler: 0.7;
  }

  .statement h1 {
    font-size: calc(2em * var(--size-scaler));
  }
}

@media (min-width: 321px) {
  :root {
    --size-scaler: 0.9;
  }

  .statement h1 {
    font-size: calc(2em * var(--size-scaler));
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --size-scaler: 1;
  }

  .statement p {
    font-size: calc(1.8em * var(--size-scaler));
  }

  .statement > p > span {
    font-size: calc(1.8em * var(--size-scaler));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  :root {
    --size-scaler: 1.1;
  }
}

@media (min-width: 1150px) {
  .featured {
    background-image: linear-gradient(
        to right,
        rgba(10, 8, 11, 0.8),
        rgba(102, 81, 76, 0.9)
      ),
      url('media/images/code-1.jpg');
  }

  .intro {
    background-color: rgba(10, 8, 11, 0.6);
    align-items: center;
    border-top-right-radius: 27% 65%;
    border-bottom-right-radius: 27% 65%;
    max-width: 62em;
    flex-direction: row;
    padding: 2em;
    height: auto;
  }

  .img-container {
    margin-left: 2em;
    display: flex;
    align-items: center;
  }

  .img-container img {
    max-width: 20em;
    border-radius: 50%;
    border: 0.4em solid white;
  }

  .statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 5px solid white;
    padding-right: 2em;
    padding-left: 0;
    text-align: right;
    min-height: 20em;
  }

  .statement h1 {
    font-weight: 500;
    margin-bottom: 0.5em;
    padding-bottom: 0.3em;
    border-bottom: none;
  }

  .statement > p > span {
    font-size: calc(1.5em * var(--size-scaler));
  }

  #show-more__btn {
    transform: translate(0, calc(100vh / 8 + 10px));
  }
}
